.form {
  margin: 0 auto;

  & .form-group {
    margin: 0 auto;
  }

  & label {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: .5rem;
    display: block;
    transition: all .3s;
  }

}

textarea {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  padding: .75rem 1.2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 1em;
  min-width: 15rem;
  display: block;
  transition: all .3s;
  
  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    border-bottom: 3px solid $color-blue;

    &:invalid {
      border-bottom: 3px solid $color-orange;
    }
  }
}

.comment-form {
  margin-top: 1rem;
}

.error {
  color: #da1c1c;
  text-align: right;
  display: inline;
}